ALTER TABLE public.entities ADD COLUMN IF NOT EXISTS mileage_rate DECIMAL(10,2) DEFAULT 0;
ALTER TABLE public.entities ADD COLUMN IF NOT EXISTS mileage_unit VARCHAR(10) DEFAULT 'km';

ALTER TABLE public.expense_types ADD COLUMN IF NOT EXISTS "isMileage" BOOLEAN DEFAULT FALSE;
